.imgInicial{
    width: 400px;
    height: 400px;
    text-align: left;
    line-height: 3.5;
   }


   .main{
    text-align: right;
   }

.Tituloh1 {
    color: lightslategray;
    font-size: 4.7vh;
    text-align: right;
    line-height: 3.5;
}

.Textoh4{
    color: lightslategray;
    font-size: 2.7vh;
    text-align: right;
    line-height: 1.5;
 
}

.ofrecemos {
    color: lightslategray;
    font-size: 3.7vh;
    text-align: left;
    line-height: 3.5;

}

.descripcionh4 {
color: lightslategray;
font-size: 2.7vh;
text-align: justify;



}