.imgInicial{
    width: 400px;
    height: 400px;
   line-height: 3.5;
   }

.Tituloh1 {
    color: lightslategray;
    font-size: 4.7vh;
   
}

.Titutloh2{
    color: lightslategray;
    font-size: 2.7vh;
   
}

.Tituloh3{
    color: lightslategray;
    font-size: 2.7vh;
}

.Tituloh4{
    color: lightslategray;
    font-size: 4.7vh;
}


.contenedorTitulo {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.ofrecemos {
    color: lightslategray;
    font-size: 3.7vh;
    text-align: left;
    line-height: 3.5;

}

.descripcionh4 {
color: lightslategray;
font-size: 2.7vh;
text-align: justify;

}

.carousel-inner img {
    width: 300%;
    max-height: 350px;
}