.LogoTipico {
    width: 100px;
    height: 100px;
    font-size: small;
    position: relative;

}

:root {
    --color1: #faceeb;
    --color2: #6f796f;
    --color3: #d1e9a3;
    --color4: #f6c0e1;
    --color5: #f9f4f3;
   
}


.navbar .nav-item:hover {
    background-color: var(--color2);

}
